node_modules/
!.github/actions/**/node_modules/
venv/

# .NET / Visual Studio
**/bin/
**/obj/
**/TestResults/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/

# NuGet
**/packages/
*.nupkg
*.snupkg
